body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "ClashDisplayBold";
  src: local("ClashDisplayBold"),
    url("./fonts/ClashDisplayBold.otf") format("truetype");
}

@font-face {
  font-family: "ClashDisplaySemiBold";
  src: local("ClashDisplaySemibold"),
    url("./fonts/ClashDisplaySemibold.otf") format("truetype");
}

@font-face {
  font-family: "Satoshi";
  src: local("SatoshiRegular"),
    url("./fonts/SatoshiRegular.otf") format("truetype");
}
